.vagrant
.idea
.project
.DS_Store
*.pub
*.crt
*.tfstate*
*.tfvars
*.bak
*.csv
.terraform*
cluster.*
kubecfg.*
dockerhub
projects
s3_bucket_id
join.sh
config
join-command
get_helm.sh
volumeF.yaml
credentials
jenkins_run.yaml
tz-py-crawler
info
list.txt
es
kafka
data/result
data/doohee323*
data/*.json

/kubespray
/authorized_keys
/kubekey
