[Unit]
Description=Startup script
After=network.target

[Service]
User=doohee323
Type=oneshot
WorkingDirectory=/Volumes/workspace/etc/tz-k8s-vagrant
ExecStart=/usr/bin/vagrant reload
ExecReload=/usr/bin/vagrant reload
ExecStop=/usr/bin/vagrant halt
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

# !/bin/bash
# sudo -i -u doohee323 /bin/bash /Volumes/workspace/etc/tz-k8s-vagrant/run.sh $1

